{% extends '../base.html' %}

{% block title %}
    Edit Blog
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Edit Blog</h2>
    <div class="card bg-light shadow p-4">
        <form>
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Add Blog</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}