{% extends '../base.html' %} 
{% block title %} Home Page {% endblock %} 
{% load static %}

{% block content %}
<section class="blog_area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_left_sidebar">
          {% for post in posts %}
          <article class="blog_style1">
            <div class="blog_img">
              <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }}" />
            </div>
            <div class="blog_text">
              <div class="blog_text_inner">
                <div class="cat">
                  <a class="cat_btn" href="#">{{ post.author }}</a>
                  <a href="#"
                    ><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.created_at|date:"F d, Y"}}</a
                  >
                  <a href="#"
                    ><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a
                  >
                </div>
                <a href="{% url 'post_detail' post.slug %}"><h4>{{ post.title }}</h4></a>
                <p>{{ post.summary }}</p>
                <a class="blog_btn" href="{% url 'post_detail' post.slug %}">Read More</a>
              </div>
            </div>
          </article>
          {% empty %}
          <p>No posts found.</p>
          {% endfor %}
          <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                  </span>
                </a>
              </li>
              <li class="page-item"><a href="#" class="page-link">01</a></li>
              <li class="page-item active">
                <a href="#" class="page-link">02</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">03</a></li>
              <li class="page-item"><a href="#" class="page-link">04</a></li>
              <li class="page-item"><a href="#" class="page-link">09</a></li>
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                  </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search Posts"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="lnr lnr-magnifier"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Account</h4>
            <ul class="list cat-list">
              {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
              <li>
                <a href="{% url 'profile' %}" class="d-flex justify-content-between">
                  <p>Profile</p>
                </a>
              </li>
              <li>
                <a href="{% url 'add_post' %}" class="d-flex justify-content-between">
                  <p>Add Blog</p>
                </a>
              </li>
              <li>
                <a href="{% url 'logout' %}" class="d-flex justify-content-between">
                  <p>Logout</p>
                </a>
              </li>
              {% else %}
              <li>
                <a href="{% url 'login' %}" class="d-flex justify-content-between">
                  <p>Login</p>
                </a>
              </li>
              <li>
                <a href="{% url 'register' %}" class="d-flex justify-content-between">
                  <p>Register</p>
                </a>
              </li>

              {% endif %}
            </ul>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img
              class="author_img img-fluid rounded"
       
              src="{% static 'img/author.jpeg' %}"
              alt=""
            />
            <h4>Sinan Sarikaya</h4>
            <p>Full-Stack Developer</p>
            <p>
              Boot camps have its supporters andit sdetractors. Some people do
              not understand why you should have to spend money on boot camp
              when you can get. Boot camps have itssuppor ters andits
              detractors.
            </p>
            <div class="social_icon">
              <a href="https://www.linkedin.com/in/sinansarykaya/"><i class="fa fa-linkedin"></i></a>
              <a href="https://www.sinansarikaya.com/en/about"><i class="fa fa-globe"></i></a>
              <a href="https://github.com/sinansarikaya"><i class="fa fa-github"></i></a>
            </div>
            <div class="br"></div>
          </aside>
          
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Popular Posts</h3>

            {% for post in posts %}
            <div class="media post_item">
              <img src="{{post.featured_image.url}}" alt="post" width="100px" />
              <div class="media-body">
                <a href="{% url 'post_detail' post.slug %}"
                  ><h3>{{post.title}}</h3></a
                >
                <p>{{ post.created_at|date:"F d, Y"}}</p>
              </div>
            </div>
           
              
            {% endfor %}            
          
            <div class="br"></div>
          </aside>
          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
