{% extends '../base.html' %} 
{% block title %} Home Page {% endblock %} 
{% load static %}

{% block content %}
<section class="blog_area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_left_sidebar">
          {% for post in posts %}
          <article class="blog_style1">
            <div class="blog_img">
              <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }}" />
            </div>
            <div class="blog_text">
              <div class="blog_text_inner">
                <div class="cat">
                  <a class="cat_btn" href="#">{{ post.author }}</a>
                  <a href="#"
                    ><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.created_at|date:"F d, Y"}}</a
                  >
                  <a href="#"
                    ><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a
                  >
                </div>
                <a href="{% url 'post_detail' post.slug %}"><h4>{{ post.title }}</h4></a>
                <p>{{ post.summary }}</p>
                <a class="blog_btn" href="{% url 'post_detail' post.slug %}">Read More</a>
              </div>
            </div>
          </article>
          {% empty %}
          <p>No posts found.</p>
          {% endfor %}
          <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                  </span>
                </a>
              </li>
              <li class="page-item"><a href="#" class="page-link">01</a></li>
              <li class="page-item active">
                <a href="#" class="page-link">02</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">03</a></li>
              <li class="page-item"><a href="#" class="page-link">04</a></li>
              <li class="page-item"><a href="#" class="page-link">09</a></li>
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                  </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget search_widget">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search Posts"
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="lnr lnr-magnifier"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget author_widget">
            <img
              class="author_img img-fluid"
       
              src="{% static 'img/blog/author.png' %}"
              alt=""
            />
            <h4>Sinan Sarikaya</h4>
            <p>Full-Stack Developer</p>
            <p>
              Boot camps have its supporters andit sdetractors. Some people do
              not understand why you should have to spend money on boot camp
              when you can get. Boot camps have itssuppor ters andits
              detractors.
            </p>
            <div class="social_icon">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Popular Posts</h3>

            {% for post in posts %}
            <div class="media post_item">
              <img src="{{post.featured_image.url}}" alt="post" width="100px" />
              <div class="media-body">
                <a href="{% url 'post_detail' post.slug %}"
                  ><h3>{{post.title}}</h3></a
                >
                <p>{{ post.created_at|date:"F d, Y"}}</p>
              </div>
            </div>
           
              
            {% endfor %}            
          
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Post Catgories</h4>
            <ul class="list cat-list">
              <li>
                <a href="#" class="d-flex justify-content-between">
                  <p>Technology</p>
                  <p>37</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex justify-content-between">
                  <p>Lifestyle</p>
                  <p>24</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex justify-content-between">
                  <p>Fashion</p>
                  <p>59</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex justify-content-between">
                  <p>Art</p>
                  <p>29</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex justify-content-between">
                  <p>Food</p>
                  <p>15</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex justify-content-between">
                  <p>Architecture</p>
                  <p>09</p>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex justify-content-between">
                  <p>Adventure</p>
                  <p>44</p>
                </a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} <div class="container">
  <div class="row">
    <div class="col-lg-8">
      {% for post in posts %}
      <div class="card mb-4 shadow">
        <img
          src="{{ post.featured_image.url }}"
          class="card-img-top"
          alt="{{ post.title }}"
        />
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'post_detail' post.slug %}"> {{ post.title }} </a>
          </h5>
          <p class="card-text">{{ post.summary }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ post.created_at|date:"F d, Y"}}</small>
          <small class="text-muted">Author: {{ post.author }}</small>
          <!-- Yazarı buraya ekleyin -->
        </div>
      </div>
      {% empty %}
      <p>No posts found.</p>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
            <button class="btn btn-outline-secondary" type="button">
              Search
            </button>
          </div>
          <div class="right-card card bg-light p-4">
            <h5 class="right-card-header">Account</h5>
            <!-- Başlığı buraya taşı ve ortala -->
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <a href="{% url 'profile' %}" class="text-dark account-item"
              >Profile</a
            >
            <hr />
            <a href="{% url 'add_post' %}" class="text-dark account-btn"
              >Add Blog</a
            >
            <hr />
            <a href="{% url 'logout' %}" class="text-dark account-btn"
              >Logout</a
            >
            {% else %}
            <a href="{% url 'login' %}" class="text-dark account-btn">Login</a>
            <hr />
            <a href="{% url 'register' %}" class="text-dark account-btn"
              >Register</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}
{% endblock %}
