body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: green;
}

main {
    flex: 1;
    display: flex;
}
.django-ckeditor-widget{
    width: 100%;
}

.right-card a {
    transition: 0.3s;
    text-decoration: none !important;
    margin:0 auto
}
.right-card a:hover {
    color: #007bff !important;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.right-card-header {
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}