{% extends '../base.html' %} 
{% block title %} {{ post.title }} Dashboard {%endblock %} 
{% load static %} {% block content %}

<section class="sample-text-area" style="min-height: calc(100vh - 58px - 74px)">
  <div class="container">
    <h3 class="text-heading title_color">Dashboard</h3>
    <div class="row">
      <div class="w-100 card bg-light p-4">
        <div class="d-flex mb-2">
          <a href="{% url 'add_post' %}" class="btn btn-warning">Add Blog</a>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Published Date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for post in posts %}
              <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.published_date|date:"F d, Y" }}</td>
                <td>{{ post.status}}</td>
                <td>
                  <a
                    href="{% url 'post_edit' post.slug %}"
                    class="btn btn-primary btn-sm"
                    >Edit</a
                  >
                  <a
                    href="{% url 'post_delete' post.id %}"
                    class="btn btn-danger btn-sm"
                    >Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
