{% extends '../base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card bg-light shadow">
            <div class="card-body">
                <h2 class="text-center mb-4">Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username|add_class:"form-control"|attr:"placeholder:Username"|attr:"required" }}
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        {{ form.password|add_class:"form-control"|attr:"placeholder:Password"|attr:"required" }}
                        {{ form.password.errors }}
                    </div>
                    <button type="submit" class="btn btn-secondary">Login</button>
                </form>
                <hr>
                <div class="d-flex justify-content-between">
                    <a href="#">Forgot Password</a>
                    <a href="{% url 'register' %}">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}